<p>
  <input type="search" class="form-control" placeholder="Search" ng-model="list.query">
</p>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th ng-repeat="field in list.fields" ng-click="list.sort(field)">
        {{field}}
        <span ng-show='list.sortField === field && !list.sortOrder' class="glyphicon glyphicon-chevron-down"></span>
        <span ng-show='list.sortField === field && list.sortOrder' class="glyphicon glyphicon-chevron-up"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="contact in list.contacts | filter: list.query | orderBy: list.sortField : list.sortOrder">
      <td ng-repeat="field in list.fields"> {{contact[field][0]}}</td>
    </tr>
  </tbody>
</table>
